#tabBar {
    display: flex;
    flex-direction: row;
    background-color: skyblue;
    align-items: center;
}

#tabBar > a {
    flex: 1;
    max-width: 20%;
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}
